<html>
   <body>
      <form action = "http://localhost:5000/AddMessage" method = "POST">
         <p>user id <input type = "text" name = "user_id" /></p>
         <p>message content <input type = "text" name = "content" /></p>
         <p>participants :
             <input type = "text" name = "participant1" />
             <input type = "text" name = "participant2" />
             <input type = "text" name = "participant3" />
            </p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>
